.cardContainer {
    padding: 80px;
    height: 516px;
    gap: 16px;
}

.textLine {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 16px;
}

.icon {
    margin-right: 8px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
    text-align: left;
    color: rgba(14, 14, 14, 0.6);
    width: 410px;
}

.buttonContainer{
    z-index: 1;
    display: flex;
    justify-content: start;
    gap: 8px;
    padding-top: 30px;
}