.button{
    border-bottom-width: 1px;
    border-color: rgba(163,163,163,1);
    color: rgb(14,14,14);
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    background: linear-gradient(112deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) rgb(255, 255, 255);
    box-shadow: none;
    opacity: 1;
    border-radius: 8px;
    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    justify-content: center;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: min-content;
    will-change: transform;
    font-size: 15px;
    font-weight: 500;
}


.button:hover {
    border-color: rgb(89,117,255);
    color: rgb(89,117,255);
    fill: rgb(89,117,255);
}

@media (min-width: 768px) {
    .button {
        width: 100%;
        height: 100%;
    }
}

.aFreeButton {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 140%;
    color: rgb(255, 255, 255);
}

.buttonFree{
    box-shadow: rgba(16, 24, 40, 0.05) 0px 1px 2px 0px;
    color: rgb(255,255,255);
    background: linear-gradient(112.00049deg, rgb(61, 94, 255) 0%, rgb(151, 99, 255) 100%);
    opacity: 1;
    border-radius: 8px;
    align-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    will-change: transform;
    font-size: 15px;
    font-weight: 500;
    gap: 15px;
    display: flex;
    width: 100%;
    height: 100%;

}


.buttonFree:hover {
    background: linear-gradient(114deg,rgb(61,86,212)0%,rgb(114, 60, 222) 100%);
}

@media (min-width: 768px) {
    .buttonFree {
        width: 100%;
        height: 100%;
    }
}
